.tab-content[hidden] {
    display: none;
}

button[active] {
    background-color:lavender;
}

#data-container {
    max-height: 20em;
    max-width: 100%;
    overflow-y: scroll;
}

.request-url {
    opacity: 0.5;
}